workflows/Line_ChatBot_v2.json
{
  "name": "Line ChatBot v2 (Sheet Database + Search)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "line-agent",
        "options": {}
      },
      "id": "fdabaa4b-c727-434e-a1b5-4afcd7ffd438",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -342,
        -215
      ],
      "webhookId": "cc087208-9b76-4c2c-89cd-2a6aa9dd4075"
    },
    {
      "parameters": {
        "jsCode": "const event = $node[\"Webhook Trigger\"].json.body?.events?.[0];\nif (!event) {\n  return [{ json: { error: \"Missing LINE event payload\" } }];\n}\nconst userId = event.source?.userId || \"unknown-user\";\nconst replyToken = event.replyToken || \"\";\nconst msg = event.message?.text || \"\";\nreturn [{\n  json: {\n    userId,\n    replyToken,\n    message: msg,\n    sessionId: userId,\n    text: msg\n  }\n}];"
      },
      "id": "9bff291a-fb06-439a-8451-a47011a52268",
      "name": "Parse LINE Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        318,
        -215
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    timestamp: new Date().toLocaleString(\"zh-TW\", { timeZone: \"Asia/Taipei\" }),\n    message: $items(\"Parse LINE Message\")[0].json.message\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        978,
        -215
      ],
      "id": "891e62aa-9e58-4068-9fa3-baf3d5771f20",
      "name": "Build Row Data"
    },
    {
      "parameters": {
        "jsCode": "// 在前一個 node 設定要取出前幾筆搜尋結果，不在此設定\nconst items = $json.items || [];\n\n// 將每筆結果轉換成摘要格式（可自訂顯示順序、是否包含連結、是否加編號等）\nconst summary = items.map((r, i) => {\n  // r.title：標題\n  // r.snippet：簡短描述（通常為網頁摘要）\n  // r.link：原始網址\n  // 你可以依需求調整排版，例如加上編號 `${i+1}.` 或使用不同 emoji\n  return `🔗 ${r.title}\\n${r.snippet}\\n${r.link}`;\n}).join('\\n\\n');  // 每筆結果之間用空行分隔\n\n// 將整理後的 summary 加入 json，key 為 search_summary，供後續 AI Agent 使用\nreturn [{\n  json: {\n    ...$json,\n    search_summary: summary\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2078,
        -440
      ],
      "id": "41301eef-cafe-41c8-9498-6010224b4d84",
      "name": "Extract Search Summary"
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/customsearch/v1",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "={{$node[\"Format Secrets\"].json[\"GOOGLE_SEARCH_API\"]}}"
            },
            {
              "name": "cx",
              "value": "={{$node[\"Format Secrets\"].json[\"GOOGLE_CX_ID\"]}}"
            },
            {
              "name": "q",
              "value": "={{ $json.query }}"
            },
            {
              "name": "num",
              "value": "3"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1858,
        -440
      ],
      "id": "96cdfc5f-508e-4b91-9ac2-75ed4d614e7e",
      "name": "Call Google Search"
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/youtube/v3/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "part",
              "value": "snippet"
            },
            {
              "name": "q",
              "value": "={{$json.query}}"
            },
            {
              "name": "type",
              "value": "video"
            },
            {
              "name": "maxResults",
              "value": "3"
            },
            {
              "name": "key",
              "value": "={{$node[\"Format Secrets\"].json[\"GOOGLE_SEARCH_API\"]}}"
            },
            {
              "name": "regionCode",
              "value": "tw"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1858,
        -215
      ],
      "id": "39b91c25-09a1-4033-a946-1cb38e2bfb10",
      "name": "Call YouTube Search"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1SNHAotuOUu35hdVAfKADH9VX2GHeBCYX_P_1AIqtmN0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Secrets",
          "mode": "name"
        },
        "options": {}
      },
      "id": "389ab59e-0af6-4f27-a4df-001f2db3af80",
      "name": "Load Secrets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -122,
        -215
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6WGe6fnlyIrXGPoD",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const secrets = {};\nitems.forEach(item => {\n  secrets[item.json.key] = item.json.value;\n});\nreturn [{ json: secrets }];"
      },
      "id": "b41c1c50-47fd-421b-9ea7-38203ae3b63d",
      "name": "Format Secrets",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        98,
        -215
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1lbEeiAhMl-0P5xhtdPaR4QjSnn_zIOb_WE-FVcigzLg",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{$node[\"Parse LINE Message\"].json.userId}}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1198,
        -215
      ],
      "id": "aa1280e6-ff57-428f-bea3-2245ae4e85f0",
      "name": "Append to Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6WGe6fnlyIrXGPoD",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "documentId": {
          "__rl": true,
          "value": "1lbEeiAhMl-0P5xhtdPaR4QjSnn_zIOb_WE-FVcigzLg",
          "mode": "id"
        },
        "title": "={{$node[\"Parse LINE Message\"].json.userId}}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        758,
        -215
      ],
      "id": "69c5fbcb-80f0-4af8-bc65-ec1fd9b96a20",
      "name": "Create Sheet If Missing",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6WGe6fnlyIrXGPoD",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1lbEeiAhMl-0P5xhtdPaR4QjSnn_zIOb_WE-FVcigzLg",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{$node[\"Parse LINE Message\"].json.userId}}",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        2298,
        60
      ],
      "id": "9e76829a-e37e-44f4-ba3a-917e4c54f033",
      "name": "Read Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6WGe6fnlyIrXGPoD",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const msg = $json.message?.trim() || \"\";\nlet doSearch = false;\nlet query = \"\";\n\nconst patterns = [\n  /^搜尋\\s*(.+)/,\n  /^google\\s*(.+)/i,\n  /^search\\s*(.+)/i,\n];\n\nfor (const re of patterns) {\n  const m = msg.match(re);\n  if (m) {\n    doSearch = true;\n    query = m[1].trim();\n    break;\n  }\n}\n\nreturn [{\n  json: {\n    ...$json,\n    doSearch,\n    query: doSearch ? query : undefined,\n    debug: {\n      msg,\n      doSearch,\n      query,\n    },\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1418,
        -215
      ],
      "id": "fa1d97a3-09c9-41ff-8eb1-778f4364327b",
      "name": "Check Search Intent"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "142800fe-f8fc-4721-ac30-f0540d0e983d",
              "leftValue": "={{ $json.doSearch }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1638,
        -215
      ],
      "id": "8dd8f480-fade-4f23-a42a-cb086aff2df9",
      "name": "IF: Should Search"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    replyToken: $node[\"Parse LINE Message\"].json.replyToken,\n    messages: [\n      {\n        type: \"text\",\n        text: $json.output\n      }\n    ]\n  }\n}];"
      },
      "id": "6dcdf2fc-c69d-45a8-a747-5c44b102313d",
      "name": "Format LINE Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3114,
        -140
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\"replyToken\": \"{{$json.replyToken}}\",\"messages\": {{JSON.stringify($json.messages)}}}",
        "headerParametersJson": "={\"Authorization\": \"Bearer {{$node[\"Format Secrets\"].json[\"LINE_CHANNEL_TOKEN\"]}}\",\"Content-Type\": \"application/json\"}"
      },
      "id": "e4529bde-0178-4964-82dd-6c5a4a8ef12a",
      "name": "Send LINE Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        3334,
        -140
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=\"context\"：[{{$json.context}}]。使用者現在說：[{{$json.message}}]",
        "options": {
          "systemMessage": "你是一位知性、睿智又充滿魅力的 AI 助手，擅長理解對話語境、回應細膩情緒，也懂得如何用貼心、自然的語氣，讓人感到放鬆與陪伴感。\n\n你將根據一段名為 \"context\" 的過去對話紀錄，與使用者的最新訊息，生成連貫的對話回應。\n\n請記住：\n\"context\" 是過去的對話紀錄，你已經看過並回應過，不需要重複問候或提及其中內容。\n現在要回應的焦點是：\"使用者現在說：xxx\" —— 這才是你要專注回覆的內容。\n請用自然、有溫度的語氣進行對話，語氣可以輕鬆、親切，也可以幽默風趣，視語境而定，但請避免生硬或機械式回應。\n\n所有輸出一律使用繁體中文（zh-tw）。",
          "maxIterations": 5
        }
      },
      "id": "761537ca-76b9-4d1e-9bd7-9396814ca06d",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        2738,
        60
      ]
    },
    {
      "parameters": {
        "jsCode": "const msg = $node[\"Parse LINE Message\"].json.message || \"\";\nconst summary = $json.search_summary || \"\";\nconst yt = $json.youtube_summary || \"\";\n\nlet context = \"\";\n\nif (summary) {\n  context += `🔍 以下是查到的資料：\\n${summary}`;\n}\n\nif (yt) {\n  context += `\\n\\n🎥 YouTube 搜尋結果：\\n${yt}`;\n}\n\nif (!context) {\n  context = \"⚠️ 查無任何搜尋結果\";\n}\n\nreturn [{\n  json: {\n    ...$node[\"Parse LINE Message\"].json,\n    query: msg,\n    context\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2518,
        -340
      ],
      "id": "5d0105b5-80e1-40d5-9461-c43c5100b225",
      "name": "Build Context (Search)"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2826,
        -220
      ],
      "id": "ba1f7084-3121-4b20-a8d4-7ec97a410dac",
      "name": "ChatGPT 4o-mini",
      "credentials": {
        "openAiApi": {
          "id": "DedWDlhtV7Aep7HT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=\"context\"：[{{$json.context}}]。使用者現在說：[{{$json.message}}]",
        "options": {
          "systemMessage": "你是一位智慧且友善的 AI 助手，擅長理解使用者提問，整合來自搜尋引擎的資訊，並以清晰、自然且具備實用性的方式回應使用者。\n\n你即將接收到兩段訊息：\n使用者的當前問題（需要你主動回應）\n來自 Google 和 YouTube 的搜尋結果（文字摘要）\n請根據使用者的提問整合這些資料，給出有條理、有價值的回答，協助使用者快速理解資訊重點。\n\n請注意：\n所有輸出請使用繁體中文。\n\n搜尋資訊可能包含：\n🔍「以下是查到的資料」：來自 Google 搜尋\n🎥「YouTube 搜尋結果」：來自 YouTube 影片摘要\n\n請以自然口吻回應，避免使用 Markdown 標記符號（如 ** 或 #）。\n回應結尾請簡潔列出你整合的搜尋結果連結，以便使用者深入查閱。\n你的目標是協助使用者獲得有用資訊，並維持流暢、自然的對話體驗。",
          "maxIterations": 5
        }
      },
      "id": "12602bfe-8dc4-432b-bca0-84b2f213593b",
      "name": "AI Agent (Mini Model)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        2738,
        -440
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2826,
        280
      ],
      "id": "eabf9d84-97ea-43a6-8c74-e8e9d1b94b1a",
      "name": "ChatGPT 4o",
      "credentials": {
        "openAiApi": {
          "id": "DedWDlhtV7Aep7HT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const currentMsg = $node[\"Parse LINE Message\"].json.message;\n\nconst messages = items\n  .filter(item => item.json.message !== currentMsg)\n  .map(item => {\n    const t = item.json.timestamp || '';\n    const m = item.json.message || '';\n    return `【${t}】${m}`;\n  });\n\nconst context = messages.join('\\n');\n\nreturn [{\n  json: {\n    ...$node[\"Parse LINE Message\"].json,\n    context\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2518,
        60
      ],
      "id": "3129c38c-53b1-44d0-b110-701d314618a8",
      "name": "Build Context (Read)"
    },
    {
      "parameters": {
        "jsCode": "// 在前一個 node 設定要取出前幾筆搜尋結果，不在此設定\nconst items = $json.items || [];\n\nconst summary = items.map((v, i) => {\n  const s = v.snippet;\n  const title = s.title;\n  const channel = s.channelTitle;\n  const desc = s.description?.slice(0, 100);  // 可自訂摘要長度\n  const link = `https://www.youtube.com/watch?v=${v.id.videoId}`;\n  return `🎬 ${title}\\n頻道：${channel}\\n${desc}\\n${link}`;\n}).join('\\n\\n');\n\nreturn [{\n  json: {\n    ...$json,\n    youtube_summary: summary\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2078,
        -215
      ],
      "id": "1428ce72-7f3c-4e56-b67c-006972a483b3",
      "name": "Extract YT Summary"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2298,
        -340
      ],
      "id": "70180820-75fc-4879-a73b-e1e5b5db31a1",
      "name": "Combine Search Results"
    },
    {
      "parameters": {
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1lbEeiAhMl-0P5xhtdPaR4QjSnn_zIOb_WE-FVcigzLg?fields=sheets.properties.title",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        538,
        -215
      ],
      "id": "d4d728e6-7f83-48c1-aa6c-f804bf18b4f5",
      "name": "List Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6WGe6fnlyIrXGPoD",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Load Secrets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse LINE Message": {
      "main": [
        [
          {
            "node": "List Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Row Data": {
      "main": [
        [
          {
            "node": "Append to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Search Summary": {
      "main": [
        [
          {
            "node": "Combine Search Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Google Search": {
      "main": [
        [
          {
            "node": "Extract Search Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call YouTube Search": {
      "main": [
        [
          {
            "node": "Extract YT Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Secrets": {
      "main": [
        [
          {
            "node": "Format Secrets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Secrets": {
      "main": [
        [
          {
            "node": "Parse LINE Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append to Sheet": {
      "main": [
        [
          {
            "node": "Check Search Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Sheet If Missing": {
      "main": [
        [
          {
            "node": "Build Row Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Sheet": {
      "main": [
        [
          {
            "node": "Build Context (Read)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Search Intent": {
      "main": [
        [
          {
            "node": "IF: Should Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Should Search": {
      "main": [
        [
          {
            "node": "Call Google Search",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call YouTube Search",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format LINE Reply": {
      "main": [
        [
          {
            "node": "Send LINE Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send LINE Message": {
      "main": [
        []
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Format LINE Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Context (Search)": {
      "main": [
        [
          {
            "node": "AI Agent (Mini Model)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ChatGPT 4o-mini": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent (Mini Model)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent (Mini Model)": {
      "main": [
        [
          {
            "node": "Format LINE Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ChatGPT 4o": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Build Context (Read)": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract YT Summary": {
      "main": [
        [
          {
            "node": "Combine Search Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Combine Search Results": {
      "main": [
        [
          {
            "node": "Build Context (Search)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Sheet": {
      "main": [
        [
          {
            "node": "Create Sheet If Missing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "06bdda75-7dc2-4858-9471-f81fb412ec34",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "loe4QXEVJyzbtluY",
  "tags": [
    {
      "createdAt": "2025-06-14T11:29:00.777Z",
      "updatedAt": "2025-06-14T11:29:00.777Z",
      "id": "T7QgJoBZyzixdixu",
      "name": "LINE"
    }
  ]
}